# Ignore node_modules
node_modules

# Ignore build output
dist

# Ignore test files
tests
coverage
*.test.ts

# Ignore dev files
.env
.env.test
.git
.gitignore
*.md
!README.md
yarn.lock

# Ignore IDE files
.vscode
.idea
*.log
